<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }} - Housing Hope 2023 - The Mary Parrish Center</title>
       {{ vite src="resources/js/app.js|resources/css/app.css" }}
        {{ livewire:styles }}
        <script src="https://kit.fontawesome.com/556cea7374.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" />
         <link rel="preconnect" href="https://app.snipcart.com">
        <link rel="preconnect" href="https://cdn.snipcart.com">
    </head>
    <body class="font-sans leading-normal text-gray-800">
        <ul class="max-w-7xl mx-auto h-36 flex text-mp-blue-green justify-between items-center">
            <li><a href="/" class="">
                {{ campaign:housing_hope_logo }}
                <img src="{{ url }}" class="w-48" alt="">
                {{ /campaign:housing_hope_logo }}
            </a></li>
            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
                {{ nav:main }}
                    <li><a href="{{ url }}" class=" {{ is_current ?= 'font-bold' }}">{{ title }}</a></li>
                {{ /nav:main }}
            {{ else }}
                {{ nav:before_after }}
                    <li><a href="{{ url }}" class=" {{ is_current ?= 'font-bold' }}">{{ title }}</a></li>
                {{ /nav:before_after }}
            {{ /if }}
            <li><a href="https://maryparrish.org" class=" {{ is_current ?= 'font-bold' }}">The Mary Parrish Center</a></li>
            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
            <div class="pl-24">
                <div class="snipcart-summary">
                    <a href="#" class="snipcart-checkout justify-self-end"><i class="fa-duotone fa-shopping-cart text-mp-blue-green"></i></a>
                    <span class="snipcart-total-items text-mp-coral"></span>
                    <span class="snipcart-total-price"></span>
                </div>
            </div>
            {{ /if }}
        </ul>
        <main>
            <!-- <div class="py-12">
                {{ now | format('Y:m:d H:m') }}

                {{ if now | is_before( campaign:campaign_start_date ) }} 
                before
                {{ /if }}
                {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
                during 
                {{ /if }}
                {{ if now | is_after( campaign:campaign_end_date ) }} 
                after 
                {{ /if }} 
            </div> -->
            <div class=" bg-mp-blue-green">
                <div class="lg:relative">
                    <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-24 lg:text-left">
                        <div class="px-4 lg:w-2/5 sm:px-8 xl:pr-16">
                            <h1 class="mb-8 text-6xl text-white text-center font-display leading-none tracking-tight">
                                {{ hero_headline }}
                            </h1>
                            <div class="mt-4 max-w-md mx-auto text-lg text-gray-100 sm:text-xl md:mt-8 md:max-w-3xl">
                            {{ if now | is_before( campaign:campaign_start_date ) }} 
                                {{ hero_subhead_before }}
                            {{ /if }}
                            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
                                {{ hero_subhead_during }}
                                <div class="mt-8">
                                    <a href="/catalog" class="px-4 py-4 text-white border border-2 border-white rounded-full hover:bg-mp-light-lime hover:text-black">Shop the Giving Catalog</a>
                                </div>
                            {{ /if }}
                            {{ if now | is_after( campaign:campaign_end_date ) }} 
                                {{ hero_subhead_after }}
                            {{ /if }}
                            
                                
                            </div>
                            
                            
                            
                            
                            <div class="clearfix"></div>
                       </div>
                    </div>
                    <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-3/5 lg:h-full">
                        {{ hero_image }}
                            <img class="absolute inset-0 w-full h-full object-cover" src="{{ url  }}" alt="Woman on her phone">
                        {{ /hero_image }}
                        
                    </div>
                </div>
            </div>
            <!-- 
            ** Results
            -->
            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }}
                <div class="container py-16 max-w-5xl mx-auto">
                    <div class="mt-8 mb-4 text-4xl font-display leading-tight text-mp-blue-green  text-center">
                        Housing Hope 2023 Live Results
                    </div>
                    <div class="mb-8">
                         {{ livewire:results }}
                    </div>
                </div>
            {{ /if }}
            {{ if now | is_after( campaign:campaign_end_date ) }} 
                                
                <div class="container py-16 max-w-5xl mx-auto">
                    <div class="mt-8 mb-4 text-4xl font-display leading-tight text-mp-blue-green  text-center">
                        Housing Hope 2023 Final Results
                    </div>
                    <div class="mb-8">
                         {{ livewire:results }}
                    </div>
                    <p class="w-full mb-4 lg:mx-auto lg:max-w-4xl text-xl text-center px-6">
                        Visit the <a href="/givingwall" class="text-mp-blue-green">Housing Hope Giving Wall</a> presented by {{ collection:sponsors sponsor_type:contains="3" }}{{ title }}{{ /collection:sponsors }} to see donors and notes. 
                        
                    </p>
                    <p class="mb-4 text-xl text-center">Follow The Mary Parrish Center on <a href="https://www.facebook.com/{{ campaign:facebook }}/" class="text-mp-blue-green">Facebook</a> and <a href="https://www.instagram.com/{{ campaign:instagram }}/" class="text-mp-blue-green">Instagram</a> to keep up with all the latest news.</p>
                    
                </div>
            

            {{ /if }}
      

            <!-- 
            ** How to particpate
            -->
            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
            <div class="bg-mp-light-gray">
                 <div class="container mx-auto py-16">
                   
                    <div class="mt-12 max-w-4xl mx-auto mb-8 px-6 md:px-0">
                        <div class="mb-4 text-5xl text-center text-mp-blue-green font-display">{{ how_to_participate_headline }}</div>
                        <p class="">
                            {{ how_to_participate_subhead_during }}
                        </p>
                    </div>
                    <div class="mb-12 max-w-7xl mx-auto">
                        <div class="mb-8 grid grid-cols-1 md:grid-cols-3 gap-8 px-6 lg:px-0">
                            {{ how_to_participate_sections }}
                            <div class="bg-mp-light-lime p-8 space-y-4 rounded-md shadow-lg">
                                <div class="text-center"><i class="fad fa-{{ icon }} fa-2x text-white"></i></div>
                                <div class="text-center text-2xl font-display font-bold">{{ headline }}</div>
                                <p class="text-xl">{{ content }}</p>
                                {{ if button }}
                                <a href="/catalog">
                                <div class="mt-6 px-4 py-3 rounded-full border border-2 border-white text-center bg-mp-navy text-white">{{ button }}</div>
                                </a>
                                {{ /if}}
                            </div>
                            {{ /how_to_participate_sections }}
                        </div>
                        <div class="mb-4 text-2xl text-center font-display text-mp-blue-green">
                            Follow The Mary Parrish Center
                        </div>
                        <div class="flex flex-row justify-center space-x-10">
                            <a href="https://www.facebook.com/{{ campaign:facebook }}" target="_blank"><i class="fa fa-facebook fa-2x text-mp-blue-green"></i></a>
                            <a href="https://www.instagram.com/{{ campaign:instagram }}/" target="_blank"><i class="fa fa-instagram fa-2x text-mp-blue-green"></i></a>
                            <a href="https://twitter.com/{{ campaign:twitter }}" target="_blank"><i class="fa fa-twitter fa-2x text-mp-blue-green"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ /if }}

            <!-- 
            ** Sponsors
            -->
            {{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 

            <div class="max-w-6xl mx-auto py-16">
                <div class="py-16">
                    <div class="mb-4 text-5xl text-mp-blue-green text-center font-display">
                        {{ sponsors_header }}
                    </div>
                    <div class="mb-4 text-center">
                        {{ sponsors_subhead}}
                    </div>
                </div>
                <div class="container grid grid-cols-1 md:grid-cols-2 mb-8">
                    <div class="col-span-2 mb-16">  
                        <div class="mb-4 text-center font-display text-3xl text-mp-blue-green">Presenting Sponsor</div>
                        <div>
                            {{ collection:sponsors sponsor_type:contains="1" sort="order"}}
                                <a href="http://{{ sponsor_website }}" target="_blank">
                                    {{ logo }}
                                        <img src="{{ url }}" class="w-1/2 mx-auto" alt="">
                                    {{ /logo }}
                                </a>
                            {{ /collection:sponsors }}
                        </div>
                    </div>
                    <div>  
                        <div class="mb-4 text-center font-display text-3xl text-mp-blue-green">Giving Catalog Sponsor</div>
                            {{ collection:sponsors sponsor_type:contains="2" sort="order"}}
                                <a href="http://{{ sponsor_website }}" target="_blank">
                                    {{ logo }}
                                        <img src="{{ url }}" class="w-1/2 mx-auto" alt="">
                                    {{ /logo }}
                                </a>
                            {{ /collection:sponsors }}
                    </div>
                    <div>
                        
                        <div>
                            <div class="mb-4 text-center font-display text-3xl text-mp-blue-green">Giving Wall Sponsor</div>
                        </div>
                        {{ collection:sponsors sponsor_type:contains="3" sort="order"}}
                            <a href="http://{{ sponsor_website }}" target="_blank">
                                {{ logo }}
                                    <img src="{{ url }}" class="w-1/2 mx-auto" alt="">
                                {{ /logo }}
                            </a>
                        {{ /collection:sponsors }}
                    </div>
                </div>
                
                <div class="mb-4 text-center font-display text-3xl text-mp-blue-green">Champion of Hope Sponsor</div>
                <div class="container max-w-3xl mx-auto grid mb-8">
                    <div class="flex justify-center">  
                        {{ collection:sponsors sponsor_type:contains="4" sort="order"}}
                            <a href="http://{{ sponsor_website }}" target="_blank">
                                {{ logo }}
                                    <img src="{{ url }}" class="w-1/2 mx-auto" alt="">
                                {{ /logo }}
                            </a>
                        {{ /collection:sponsors }}
                    </div>
                </div>
                
                
                <div class="mb-4 text-center font-display text-3xl text-mp-blue-green">Matching Sponsors</div>
                <div class="container grid grid-cols-1 md:grid-cols-4 mb-8 gap-8 ">
                    {{ collection:sponsors sponsor_type:contains="5" sort="order"}}
                        <div class=" h-64 w-full bg-white ">  
                            <div class="flex justify-center h-full items-center mb-4">
                                {{ logo }}    
                                    <a href="http://{{ sponsor_website }}">
                                        <img src="{{ url }}" class="object-contain h-64 w-64" alt="">
                                    </a>
                                {{ /logo }}
                            </div>
                        </div>
                    {{ /collection:sponsors }}
                </div>
            </div>

            {{ /if }}

            <!-- 
            ** Stat
            -->
            <div class="bg-mp-blue-green">
                <div class="pt-16 pb-20 flex flex-col items-center justify-center">
                    <p class="mb-6 lg:mb-12 text-white lg:text-xl text-center uppercase">{{ video_headline }}</p>
                    <div class="hidden md:block mb-8">
                         <iframe src="{{ video_url }}" width="750" height="423" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="block md:hidden mb-8 ">
                         <iframe src="{{ video_url }}" width="400" height="225" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="w-3/5 text-3xl lg:text-5xl text-mp-navy text-center leading-none font-display">
                        {{ video_statistic }}
                    </div>
                    <p class="mt-8 text-white text-center">
                        {{ video_statistic_source }}
                    </p>
                    <div class="video">
                    
                    </div>
                    
                </div>
            </div>
            <!-- 
            ** Sponsor
            -->
            <!-- @if ( getCurrentPeriod() == "before " ) 
            <div class="py-12 bg-mp-light-lime">
                <div class="container mx-auto text-center text-2xl font-display text-mp-navy">
                    <span class="font-bold">Want to sponsor Housing Hope or become an event host?</span> <a class="underline hover:text-black" href="mailto:merrill@maryparrish.org">Email Merrick Cope</a> today for more information.
                </div>
            </div>
            @endif -->

            <!-- @if ( getCurrentPeriod() == "after" ) 
            <div class="bg-white">
                <div class="my-12 text-4xl text-mp-blue-green text-center font-display">2022 Housing Hope Sponsors</div>
                @livewire('sponsor-grid')
            </div>
            @endif -->

            <!-- 
            ** About MPC
            -->
            <div id="mpc" class="bg-mp-coral py-16 ">
                <div class="container mx-auto px-4 lg:px-0 max-w-6xl">
                    <img src="{{ site_url  }}/storage/primary/mp_green_logo.png" class="mx-auto w-96 mb-8" alt="">
                    <div class="mb-4 text-3xl lg:text-4xl text-center text-navy font-display italic leading-tight"> {{ about_headline }}
                    </div>
                    <div class="mb-12 max-w-4xl mx-auto text-xl lg:text-2xl text-white text-center leading-tight">{{ about_subhead }}</div>
                    <div class="mx-auto p-6 grid gap-6 lg:gap-12 max-w-4xl lg:p-0 lg:grid-cols-3">
                        {{ about_sections }}
                        <div class="px-3 py-4 bg-mp-navy rounded shadow-lg">
                            <div class="my-6 text-center text-2xl text-mp-coral font-display italic">{{ about_headline }}</div>
                            <div class="mb-4 text-white text-center">{{ about_content }}</div>
                        </div>
                        {{ /about_sections }}
                        
                    </div>
                    <div class="text-center">
                        <a href="https://www.maryparrish.org" target="_blank"><button class="mt-12 px-4 py-4 border-2 border-solid hover:border-white hover:bg-white border-mp-navy text-xl text-mp-navy hover:text-mp-coral rounded">Visit our website for more information</button></a>
                    </div>
                </div>
            </div>



        </main>
        <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
        <div hidden id="snipcart" data-api-key="{{ config:app:snipcart }}"></div>
        <script src="//unpkg.com/alpinejs" defer></script>
        <!-- <script src="{{ mix src='/js/site.js' }}"></script> -->
        {{ livewire:scripts }}
    </body>
</html>
