<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }} - Housing Hope 2023 - The Mary Parrish Center</title>
       {{ vite src="resources/css/app.css" }}
        {{ livewire:styles }}
        <script src="https://kit.fontawesome.com/556cea7374.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.css" />
         <link rel="preconnect" href="https://app.snipcart.com">
        <link rel="preconnect" href="https://cdn.snipcart.com">
    </head>
    <body class="font-sans leading-normal text-gray-800">
        {{ partial:navigation }}
        <div class=" mx-auto lg:min-h-screen">

            {{ template_content }}
           
            
            
        </div>
        
        <script async src="https://cdn.snipcart.com/themes/v3.2.0/default/snipcart.js"></script>
        <div hidden id="snipcart" data-api-key="{{ config:app:snipcart }}"></div>
        <script src="//unpkg.com/alpinejs" defer></script>
        {{ livewire:scripts }}
    </body>
</html>
