@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl text-green-600 mb-6 font-display;
  }
  h2 {
    @apply text-mp-blue-green text-3xl font-display;
  }
  p { 
    @apply mb-4
  }
  
}

@layer utilities{
  .catalog-odd-row {
    @apply py-16 bg-mp-light-gray
  }
  .catalog-even-row {
    @apply py-16 bg-white
  }
  .resp-table {
    width: 100%;
    display: table;
  }
  .resp-table-header{
    display: table-header-group;
    @apply bg-mp-light-lime;
    font-weight: bold;
  }
  .table-header-cell{
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
  }
  .resp-table-body{
    display: table-row-group;
  }
  .resp-table-row{
    display: table-row;
    border-bottom: 4px;
  }
  .table-body-cell{
    display: table-cell;
    @apply py-4;
  }
  @variants responsive {
    .masonry {
      column-gap: 1.5em;
      column-count: 3;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

[x-cloak] {
    display: none;
}
