<div class=" block">
    {{ featured_image }}
    <img src="{{ url }}" alt="" class="h-96 w-full object-cover">
    {{ /featured_image }}
</div>
<div class="bg-mp-light-lime">
    <div class="container mx-auto py-12">
        <div class="pt-8 pb-4 text-4xl text-mp-navy font-display text-center">{{ page_header }}</div>
        <div class="px-4 w-full text-xl lg:w-3/5 mx-auto">
            {{ content }}
        </div>
    </div>
</div>
<!-- CHAMPTION OF HOPE -->
{{ if now | is_after (campaign:campaign_start_date) }} 
<div class="py-12 text-white">
    <div class="container mx-auto max-w-5xl">
        <div class="mb-4 text-center font-display text-4xl text-mp-navy">
            {{ champion_of_hope_headline }}
        </div>
        <div class="mb-6">
             <div class="text-center tracking-wide uppercase text-black">Presented By</div>
            <div>
                {{ collection:sponsors sponsor_type:contains="4" sort="order"}}
                    <a href="http://{{ sponsor_website }}" target="_blank">
                        {{ logo }}
                            <img src="{{ url }}" class="w-1/2 md:w-1/4 mx-auto" alt="">
                        {{ /logo }}
                    </a>
                {{ /collection:sponsors }}
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-8">
            <div class="w-full px-6 md:w-1/3 md:px-0 ">
                {{ champion_of_hope_photo }}
                    <div class="relative bg-white" style="padding-bottom: 125%">
                        <img src="{{ url }}" class="absolute w-full h-full object-cover">
                    </div>
                {{ /champion_of_hope_photo }}
            </div>
            <div class="w-full px-6 md:w-2/3 md:px-0 text-xl text-mp-navy">
                {{ champion_of_hope_content }}
            </div>
        </div>
    </div>
</div>
{{ /if }}
<div class="bg-mp-blue-green py-8 text-white">
    <div class="container mx-auto ">
        <div class="px-4 mx-auto">
            <div class="pt-8 pb-8 text-3xl font-display text-center">{{ supporters }}</div>
            <div class="text-xl text-center">{{ supporters_subhead }}</div>
            <div class="flex flex-col justify-center lg:flex-row lg:flex-wrap">
                <div class="pb-8">
                    <p class="mt-6 mb-3 text-2xl text-mp-navy font-display text-center">{{? echo date('Y') ?}} Events Hosts</p>
                    {{ livewire:show-host-names }}
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="container mx-auto pb-12">
    <div class="px-4 lg:w-3/5 mx-auto">
        
        <div class="pt-12">
            <img src="http://mpc23.test/storage/primary/mp_green_logo.png" class="mx-auto w-48 mb-8" alt="">
        </div>
        <div class="pt-4 pb-4 text-3xl font-display text-center">{{ about_header}}</div>
        <p class="mb-4 text-xl text-center text-mp-blue-green"><a href="https://www.maryparrish.org" target="_blank">www.MaryParrish.org</a></p>
        <div class="mb-6 text-xl">{{ about_text }}</div>    
    </div>

</div>
{{ if now | is_between( campaign:campaign_start_date, campaign:campaign_end_date ) }} 
<div class="mb-16 max-w-4xl mx-auto">
    <div class="mb-8 text-3xl font-display text-center">Frequently Asked Questions</div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 px-6 lg:px-0">
        {{ faq }}
        <div>
            <div class="mb-4 text-2xl font-display text-mp-blue-green italic">
                {{ faq_question }}
            </div>
            <div class="text-xl">
                {{ faq_answer }}
            </div>
        </div>
        {{ /faq }}
    </div>
</div>
{{ /if }}

{{ partial:footer }}

