<div class="">
     
     <!-- Banner in Three parts -->
    <div class="max-w-4xl mx-auto mb-8 flex flex-col flex-wrap items-center md:flex-row md:justify-center">
        {{ giving_wall_icon }}
            <img src="{{ url }} " class="h-32 z-20" alt="">
         {{ /giving_wall_icon }}
         {{ giving_wall_name }}
            <img src="{{ url }}" class="h-32 md:h-32 md:self-center -mt-8 md:mt-0 " alt="">
        {{ /giving_wall_name }}

        {{ if  {collection:sponsors sponsor_type:contains="3"} | count > 1 }}
          {{  brannan = 1 }}
        {{ /if }}
            
        

        <div class="flex {{ brannan ? flex-row : flex-col }}  justify-center px-4">
            <div class="text-center">
                
            </div>
            {{ collection:sponsors sponsor_type:contains="3" sort="title"  }}
                <div class="pb-4">
                    <a href="http://{{ sponsor_website }}" target="_blank">
                        {{ logo }}
                            <img src="{{ url }}" class="{{ brannan ? w-full : '' }} mx-auto" alt="">
                        {{ /logo }}
                    </a>
                </div>
            {{ /collection:sponsors }}
        </div>
    </div>

     <div class="py-12">
       <div class="container max-w-6xl mx-auto">
            {{ livewire:results }}
       </div>
    </div>

    <div class="bg-mp-light-lime">
       <div class="container max-w-6xl mx-auto">
            {{ livewire:donor-wall }}
       </div>
    </div>
    <div class="bg-mp-navy">
       <div class="container max-w-6xl mx-auto">
            {{ livewire:donor-notes }}
       </div>
    </div>
</div>
{{ partial:footer }}